<table class="table">
  <thead>
    <tr>
      <th>Оригинальное слово</th>
      <th>Переведенное слово</th>
      <th>Дата обзора</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>