<table class="table">
  <thead>
    <tr>
      <th>Оригинал</th>
      <th>Перевод</th>
      <th>Проверка данных</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>