<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <link rel="stylesheet" href="application.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/cards">Все карточки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cards/new">Добавить карточку</a>
            </li>
          </ul>
        </nav>
        <a class="nav-link" href="/">
          <h3 class="text-muted">Флэшкарточкер</h3>
        </a>
      </div>

    <%= yield %>

    </div>
  </body>
</html>